h1{
    text-align: center;
}

h4{
    text-align: center;
    font-size: 30px;
}

.btn{
    text-align: right;
}

.escojer{
    justify-items: center;


}

.logo{
	width: 20%; height: 100%;
    padding: 0;
    margin: 0;
	float: center;
}

.navegacion{
    text-align: center;
    background: rgb(111, 110, 112);
}

.comentarios{
    width: 30%;
    text-align: center;
    margin: 10px 500px;
}

div.galeria img{
    width: 100%;
    height: auto;
}

.benviar{
    text-align: left;
}

.bcancelar{
    text-align: right;
}